<a href="https://colab.research.google.com/github/AzimSalimy/Azim-python/blob/main/Copy_of_Interrogating_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interrogating the dataframe
---

We use pandas to create dataframes from data sets in files or online tables.

Once we have the dataframe we might want to:  
*   display a subset of rows
*   *   we can do this using df.head(), df.tail() or df.iloc[index]
*   display a subset of columns
*   *   we can do this using the column name as the key, e.g.   
`                df['rain (mm)']`  
*   *   we can display more than one column, simply by listing the columns in the square brackets, e.g.   
`                df[['rain (mm)', 'tmin (degC)', 'sun (hours)']]`  
*   *   and can dislay a subset of rows for a subset of columns, e.g.  
 `               df[['rain (mm)', 'tmax (degC)']].head(10)`

### Exercise 1 - get the data, look at first 10 records
---


1.  Import the pandas library with the alias pd  
2.  Read the sheet with the name "Industry Migration" from the Excel file from this link: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true  (*Hint:  use pd.read_excel(url, sheet_name="Industry Migration") with the above url.*)
3.  display the first 10 rows of the data

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name="Industry Migration")
df.head(10)

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
5,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,8,Telecommunications,676.91,676.11,365.96,283.59,281.91
6,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,9,Law Practice,694.50,529.50,362.83,356.56,147.83
7,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,10,Legal Services,661.10,665.65,462.30,475.62,255.21
8,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,11,Management Consulting,982.85,694.25,520.28,574.60,406.03
9,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,12,Biotechnology,1230.17,846.28,500.77,205.78,513.23

### Exercise 2 - display just two columns

Display the first 50 records focusing on the industries where migration is happening in each country (show just country_name and industry_name).

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name="Industry Migration")
df.head(50) [['country_name', 'industry_name']]

            country_name              industry_name
0   United Arab Emirates            Defense & Space
1   United Arab Emirates          Computer Hardware
2   United Arab Emirates          Computer Software
3   United Arab Emirates        Computer Networking
4   United Arab Emirates                   Internet
5   United Arab Emirates         Telecommunications
6   United Arab Emirates               Law Practice
7   United Arab Emirates             Legal Services
8   United Arab Emirates      Management Consulting
9   United Arab Emirates              Biotechnology
10  United Arab Emirates           Medical Practice
11  United Arab Emirates     Hospital & Health Care
12  United Arab Emirates            Pharmaceuticals
13  United Arab Emirates             Medical Device
14  United Arab Emirates                  Cosmetics
15  United Arab Emirates          Apparel & Fashion
16  United Arab Emirates             Sporting Goods
17  United Arab Emirates                    Tobacco
18  United Arab Emirates               Supermarkets
19  United Arab Emirates            Food Production
20  United Arab Emirates       Consumer Electronics
21  United Arab Emirates             Consumer Goods
22  United Arab Emirates                  Furniture
23  United Arab Emirates                     Retail
24  United Arab Emirates              Entertainment
25  United Arab Emirates  Leisure, Travel & Tourism
26  United Arab Emirates                Hospitality
27  United Arab Emirates                Restaurants
28  United Arab Emirates                     Sports
29  United Arab Emirates           Food & Beverages
30  United Arab Emirates     Motion Pictures & Film
31  United Arab Emirates            Broadcast Media
32  United Arab Emirates                    Banking
33  United Arab Emirates                  Insurance
34  United Arab Emirates         Financial Services
35  United Arab Emirates                Real Estate
36  United Arab Emirates         Investment Banking
37  United Arab Emirates      Investment Management
38  United Arab Emirates                 Accounting
39  United Arab Emirates               Construction
40  United Arab Emirates         Building Materials
41  United Arab Emirates    Architecture & Planning
42  United Arab Emirates          Civil Engineering
43  United Arab Emirates       Aviation & Aerospace
44  United Arab Emirates                 Automotive
45  United Arab Emirates                  Chemicals
46  United Arab Emirates                  Machinery
47  United Arab Emirates            Mining & Metals
48  United Arab Emirates               Oil & Energy
49  United Arab Emirates               Shipbuilding

### Exercise 3 - yearly migration

*   display the middle 20 records, showing the country_name and the migration for each of the years 2015 to 2019.
---

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name="Industry Migration")
df.iloc[len(df)//2-10:len(df)//2+10, :]

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
2637,in,India,Lower middle income,South Asia,P,Education,132,E-Learning,-7.57,-15.53,-41.39,-58.19,-75.65
2638,in,India,Lower middle income,South Asia,G,Wholesale and retail trade; repair of motor ve...,133,Wholesale,-46.07,-84.82,-69.27,-112.88,-102.83
2639,in,India,Lower middle income,South Asia,H,Transportation and storage,134,Import & Export,-17.75,-9.88,-13.85,-17.02,-36.78
2640,in,India,Lower middle income,South Asia,M,Professional scientific and technical activities,135,Mechanical or Industrial Engineering,-46.50,-53.41,-38.84,-69.76,-73.81
2641,in,India,Lower middle income,South Asia,M,Professional scientific and technical activities,136,Photography,15.19,5.91,-67.67,-42.27,-45.82
2642,in,India,Lower middle income,South Asia,N,Administrative and support service activities,137,Human Resources,-36.77,-72.50,-224.30,-108.44,-57.46
2643,in,India,Lower middle income,South Asia,N,Administrative and support service activities,138,Business Supplies & Equipment,-57.53,-50.04,-58.67,-98.15,-87.12
2644,in,India,Lower middle income,South Asia,M,Professional scientific and technical activities,140,Graphic Design,4.31,-29.11,-68.60,-60.27,-71.01
2645,in,India,Lower middle income,South Asia,S,Other service activities,141,International Trade & Development,-60.63,-102.39,-130.02,-97.02,-151.55
2646,in,India,Lower middle income,South Asia,G,Wholesale and retail trade; repair of motor ve...,142,Wine & Spirits,-26.63,5.22,-29.57,-23.96,-58.40
2647,in,India,Lower middle income,South Asia,G,Wholesale and retail trade; repair of motor ve...,143,Luxury Goods & Jewelry,-31.78,-45.04,-86.56,-66.87,-95.41
2648,in,India,Lower middle income,South Asia,C,Manufacturing,144,Renewables & Environment,24.01,27.84,-9.85,-29.43,-63.83
2649,in,India,Lower middle income,South Asia,C,Manufacturing,145,"Glass, Ceramics & Concrete",-17.74,-27.67,-19.57,-63.91,-50.87
2650,in,India,Lower middle income,South Asia,C,Manufacturing,146,Packaging & Containers,-26.23,-21.12,-26.23,-40.06,-55.07
2651,in,India,Lower middle income,South Asia,C,Manufacturing,147,Industrial Automation,-75.42,-71.15,-57.01,-95.02,-106.56
2652,in,India,Lower middle income,South Asia,O,Public administration and defence; compulsory ...,148,Government Relations,-40.41,-2.47,-40.18,-70.58,-142.21
2653,iq,Iraq,Upper middle income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,290.14,396.01,175.95,396.23,318.73
2654,iq,Iraq,Upper middle income,Middle East & North Africa,J,Information and communication,8,Telecommunications,23.68,-148.03,-157.05,-87.85,-38.84
2655,iq,Iraq,Upper middle income,Middle East & North Africa,G,Wholesale and retail trade; repair of motor ve...,27,Retail,-138.81,-662.75,-273.35,-109.23,0.00
2656,iq,Iraq,Upper middle income,Middle East & North Africa,I,Accommodation and food service activities,31,Hospitality,-718.56,-623.25,-446.93,-456.94,95.72

### Exercise 4 - migration to and from
---

The Excel file at this link (which you have already opened above): https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true has three data sheets, "Country Migration", "Industry Migration" and "Skills Migration"

Open the data sheet "Country Migration" and display the first 10 records showing the country that migration was to, the country it was from and the net migration for each year from 2015 to 2019

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name="Country Migration")

TypeError: ignored

### Exercise 5 - unique countries

Using the "Country Migration" sheet, get all the unique country names from where people have migrated (base_country_name) and use a for loop to print a list of the countries.

### Exercise 6 - how many countries are migrated to

Using the "Country Migration" sheet again, get all the unique country names to where people have migrated and display the number of unique countries.

### Exercise 7 - skill sets
---


Using the "Skill Migration" data sheet, display the following:
*  the first record
*  the last 10 records
*  records from index 500 to index 600  
*  a count of all unique countries
*  a list of all unique skill group categories
*  the first 50 rows, skill group names and net migration in 2019 only

### Exercise 8 - total net migration over 5 years
---

Using the Country Migration data sheet, display the record at position 10.  Using the column names to access the data in each column, add the five columns containing the net migration data together to calculate the total net migration over the 5 years between 2015 and 2019.

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name="Industry Migration")
total_net_migration = 0
# initialize total net migration to 0
for i in range(5):
  #iterate through columns of dataframe
df['net_per_10k_{}'.format(2015+i)]
total_net_migration += df['net_per_10k_{}'.format(2015+i).iloc[0]]
                            #add current column value to total net migration
print("Total Net Migration:", round(total_net_migration, 1))

IndentationError: ignored

### Exercise 9 - formulating a text response

Using the Industry Migration data sheet, display the record at position 100.  Using the column names again to access the data in each column, calculate net migration over the 5 years from 2015 to 2019.

Then print the following message, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

### Exercise 10 - five text responses

Using the Industry Migration data sheet, calculate net migration (rounded to 1 decimal place) over the 5 years from 2015 to 2019 for the records at positions 1 to 5 and print the following message for each, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

*Hint: use a for loop to get a record and do each calculation*